<div class="header">
  <div class="header__nav">
    <button class="header__nav-item" mat-raised-button color="primary" routerLink="/">Home</button>
    <button class="header__nav-item" mat-raised-button color="primary" routerLink="/funny-page">Funny page</button>
    <button class="header__nav-item" mat-raised-button color="primary" routerLink="/lazy">Lazy</button>
    <button class="header__nav-item" mat-raised-button color="primary" routerLink="/jobs">Common example</button>
    <button class="header__nav-item" mat-raised-button color="primary" routerLink="/jobs-error">Error common</button>
    <button class="header__nav-item" mat-raised-button color="primary" routerLink="/news">Resolver</button>
    <button class="header__nav-item" mat-raised-button color="primary" routerLink="/error">Error resolver</button>
  </div>
</div>

<div class="content">
  <div *ngIf="loadingInProcess; else routerOutlet" class="spinner-layer">
    <mat-spinner color="primary" diameter="50"></mat-spinner>
  </div>

  <ng-template #routerOutlet>
    <router-outlet></router-outlet>
  </ng-template>
</div>
