<div class="headline">
  <mat-icon>whatshot</mat-icon>
  <span class="headline__title">Hot news</span>
  <mat-icon>whatshot</mat-icon>
</div>

<div class="news-container">
  <div *ngFor="let newsItem of news" class="card">
    <div class="card__header">
      <div class="card__title">{{ newsItem.title }}</div>
      <div class="card__posted-time">{{ newsItem.time_ago }}</div>
    </div>

    <div class="card__actions">
      <a mat-raised-button [href]="newsItem.url">More</a>
    </div>
  </div>
</div>
